@import "tailwindcss";


.light{
    --primary:37,99,235;
    --color-cta:252,165,165;
    --text:0,0,0;
    --neutral:221,214,254;
    --base-100:249,250,251;
    --accent:187,204,250;
    --cta-hover: 204,96,96;

    background: rgba(var(--base-100));
}

:root{
    --primary:59,130,246;
    --color-secondary:248,113,113;
    --text:255,255,255;
    --neutral:196,181,253;
    --base-100:30,41,59;
    --accent:61,62,108;
    --cta-hover: 204,96,96;

    background: rgba(var(--base-100));

}