@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Poppins:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-dancing: 'Dancing Script', cursive;
  --font-roboto: 'Roboto', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-roboto);
  }
}

@keyframes fly {
  0% {
    offset-distance: 0%;
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(15deg) scale(1.05);
  }
  100% {
    offset-distance: 100%;
    transform: rotate(0deg) scale(0.9);
  }
}

@layer utilities {
  .font-dancing {
    font-family: var(--font-dancing);
  }
  .font-roboto {
    font-family: var(--font-roboto);
  }
  .font-poppins {
    font-family: var(--font-poppins);
  }

  *{
    color:"primary";
  }

  .plane-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: 50;
    pointer-events: none;
  
    /* Define the custom flight path */
    offset-path: path("M 100 300 C 300 0, 500 600, 700 300");
    offset-rotate: auto;
  }
  
  .paper-plane {
    width: auto;
    margin-top: -335px;
    margin-left: 650px;
    position: absolute;
    z-index: 20;
  }

  .textSkill,.textSkillDiv{
    opacity: 0%;
  }

  .skill:hover{

    .textSkill{
      padding-left: 100px;
      opacity: 100%;
      transition: ease-in-out;
    }

    .textSkillDiv{
      padding-right: 100px;
      opacity: 100%;
      transition: ease-in-out;
    }

    .skillText{
      border-radius: 100px 0px 0px 100px;
      opacity: 30%;
      transition: ease-in-out;
    }

    .skillTextDiv{
      border-radius: 0px 100px 100px 0px !important;
      opacity: 30%;
      transition: ease-in-out;
    }


    .skillTextDiv1{
      background: linear-gradient(45deg, #272741, #2563EB);
    }

    .skillTextDiv2{
      background: linear-gradient(45deg, #272741, #FCA5A5);
    }

    .skillTextDiv3{
      background: linear-gradient(45deg, #272741, #C4B5FD);
    }

    .skillText1{
      background: linear-gradient(45deg, #2563EB, #272741);
    }

    .skillText2{
      background: linear-gradient(45deg, #FCA5A5, #272741);
    }

    .skillText3{
      background: linear-gradient(45deg, #C4B5FD, #272741);
    }

    .skillImg{
      margin-left: 10px;
      transition: ease-in-out;
    }

    .skillImg1{
      margin-right: 10px;
      transition: ease-in-out;
    }

  }
  

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
