@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Poppins:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-dancing: 'Dancing Script', cursive;
  --font-roboto: 'Roboto', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

:root {
  --primary-color:#5b00ed !important;
  --color-cta:#F87171 !important;
  --text-color:#ffffff !important;
  --neutral:#C4B5FD !important;
  --base-100:#1E293B !important;
  --accent-color:#3D3E6C !important;
  --cta-hover: #CC6060 !important;
  --cursor-color: #09721c !important; 
  --theme-grad: #a2a2e8 !important;
  --transparent-color: transparent;

  background: rgba(var(--base-100));
}

[data-theme="lighttheme"] {
  --primary-color:#5b00ed !important;
  --color-cta:#F87171 !important;
  --text-color:#202938 !important;
  --neutral-color:#DDD6FE !important;
  --base-100:#BBCCFA !important;
  --accent-color:#BBCCFA !important;
  --cta-hover: #CC6060 !important;
  --cursor-color: #09721c !important; 
  --theme-grad: #a2a2e8 !important;
  --transparent-color: transparent;
  background: rgba(var(--base-100));
}

[data-theme="darktheme"] {
  --primary-color:#3B82F6 !important;
  --color-cta:#F87171 !important;
  --text-color:#ffffff !important;
  --neutral-color:#C4B5FD !important;
  --base-100:#202938 !important;
  --accent-color:#3D3E6C !important;
  --cta-hover: #CC6060 !important;
  --cursor-color: #6200FF !important;    
  --theme-grad: #272741 !important;
  --transparent-color: transparent;
  
  background: rgba(var(--base-100));
}


@layer base {
  html {
    font-family: var(--font-roboto);
  }
}

@keyframes fly {
  0% {
    offset-distance: 0%;
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(15deg) scale(1.05);
  }
  100% {
    offset-distance: 100%;
    transform: rotate(0deg) scale(0.9);
  }
}

@layer utilities {
  /* colors */
  .theme-cta {
    color: var(--color-cta);
  }
  
  .theme-text {
    color: var(--text-color);
  }
  
  .theme-primary-color {
    color: var(--primary-color);
  }

  .theme-neutral {
    color: var(--neutral-color);
  }

  .theme-base-100 {
    color: var(--base-100);
  }

  .theme-accent {
    color: var(--accent-color);
  }

  .theme-cta-hover {
    color: var(--cta-hover);
  }

  .bg-cta {
    background-color: var(--color-cta);
  }
  
  .bg-text {
    background-color: var(--text-color);
  }
  
  .bg-primary-color {
    background-color: var(--primary-color);
  }

  .bg-neutral {
    background-color: var(--neutral-color);
  }

  .bg-base-100 {
    background-color: var(--base-100);
  }

  .bg-accent {
    background-color: var(--accent-color);
  }

  .bg-cta-hover {
    background-color: var(--cta-hover);
  }

  /* fonts */
  .font-dancing {
    font-family: var(--font-dancing);
  }
  .font-roboto {
    font-family: var(--font-roboto);
  }
  .font-poppins {
    font-family: var(--font-poppins);
  }

  /* bg images */
  .bg-home-light {
    background-image: url('/images/BackgroundLight4.png');
  }
  
  .dark-theme .bg-home-light {
    background-image: url('/images/Background.png');
  }
  
  /* Mobile variations */
  @media (max-width: 768px) {
    .bg-home-light {
      background-image: url('/images/phone-bgLight.png');
    }
  
    .dark-theme .bg-home-light {
      background-image: url('/images/phone-bg.png');
    }
  }

  /* bg for skill section */

  .bg-skill-light {
    background-image: url('/images/BackgroundLight1.png');
  }
  
  .dark .bg-skill-light {
    background-image: url('/images/Background2.png');
  }
  
  /* Mobile variations */
  @media (max-width: 768px) {
    .bg-skill-light {
      background-image: url('/images/phone-bgLight.png');
    }
  
    .dark-theme .bg-skill-light {
      background-image: url('/images/phone-bg.png');
    }
  }

  /* classes */

  .textSkill,.textSkillDiv{
    opacity: 0%;
  }

  .skill:hover{

    .textSkill{
      padding-left: 100px;
      opacity: 100%;
      transition: ease-in-out;
    }

    .textSkillDiv{
      padding-right: 100px;
      opacity: 100%;
      transition: ease-in-out;
    }

    .skillText{
      border-radius: 100px 0px 0px 100px;
      opacity: 30%;
      transition: ease-in-out;
    }

    .skillTextDiv{
      border-radius: 0px 100px 100px 0px !important;
      opacity: 30%;
      transition: ease-in-out;
    }


    .skillTextDiv1{
      background: linear-gradient(45deg, var(--theme-grad), #2563EB);
    }

    .skillTextDiv2{
      background: linear-gradient(45deg, var(--theme-grad), #FCA5A5);
    }

    .skillTextDiv3{
      background: linear-gradient(45deg, var(--theme-grad), #C4B5FD);
    }

    .skillText1{
      background: linear-gradient(45deg, #2563EB, var(--theme-grad));
    }

    .skillText2{
      background: linear-gradient(45deg, #FCA5A5, var(--theme-grad));
    }

    .skillText3{
      background: linear-gradient(45deg, #C4B5FD, var(--theme-grad));
    }

    .skillImg{
      margin-left: 10px;
      transition: ease-in-out;
    }

    .skillImg1{
      margin-right: 10px;
      transition: ease-in-out;
    }

  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .about-container {
    position: relative; 
    width: 100%; 
    height: 100%;
  }

  .bubble {
    position: absolute;
    bottom: -100px;
    width: 20px;
    height: 20px;
    background: rgba(173, 216, 230, 0.4);
    border-radius: 50%;
    filter: blur(4px);
    animation: rise 10s infinite ease-in;
  }
  
  .bubble-1 {
    width: 30px;
    height: 30px;
    left: 25%;
    animation-duration: 12s;
    filter: blur(3px);
  }

  .bubble-2 {
    width: 15px;
    height: 15px;
    left: 50%;
    animation-duration: 8s;
    filter: blur(3px);
  }

  .bubble-3 {
    width: 25px;
    height: 25px;
    left: 75%;
    animation-duration: 14s;
    filter: blur(5px);
  }

  .bubble-4 {
    width: 20px;
    height: 20px;
    left: 90%;
    animation-duration: 11s;
    filter: blur(4px);
  }
  
  .bubble-5 {
    width: 22px;
    height: 22px;
    left: 10%;
    animation-duration: 13s;
    filter: blur(5px);
  }
  
  @keyframes rise {
    0% {
      transform: translateY(0) scale(1);
      opacity: 0.8;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      transform: translateY(-100vh) scale(1.2);
      opacity: 0;
    }
  }
  
}
